#include "charybdis.dtsi"
#include "charybdis_pmw3610.dtsi"

// The matrix transform is 6 columns over because the left half is 6 columns wide.
&default_transform {
	col-offset = <6>;
};

&kscan0 {
	compatible = "zmk,kscan-gpio-matrix";

	col-gpios
		= <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // B3
		, <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // B1
		, <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // F7
		, <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // D1
		, <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // D0
		, <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // D2
		;
	row-gpios
		= <&pro_micro 8  GPIO_ACTIVE_HIGH> // B4
		, <&pro_micro 7  GPIO_ACTIVE_HIGH> // E6
		, <&pro_micro 6  GPIO_ACTIVE_HIGH> // D4
		, <&pro_micro 5  GPIO_ACTIVE_HIGH> // D7
		, <&pro_micro 4  GPIO_ACTIVE_HIGH> // D6
		;
};

&spi0 {
    status = "okay";
};

&trackball {
    status = "okay";
};

// https://github.com/badjeff/zmk-pmw3610-driver
/ {
  trackball_listener {
    compatible = "zmk,input-listener";
    device = <&trackball>;
  };
};

